#u431-4,#u437-4,#u483-4,#u488-4
{
	font-family: berkshire-swash-n4, cursive;
}

#u904-4
{
	font-family: alex-brush-n4, cursive;
}

#u907-4
{
	font-family: berkshire-swash-n4, cursive;
}

#u908-2,#u908-3,#u908-6,#u908-7,#u908-10,#u908-11,#u908-14,#u908-16,#u908-17,#u908-19,#u908-20,#u908-22,#u908-23,#u908-25
{
	font-family: playfair-display-n4, serif;
}

