#u431-4,#u437-4,#u483-4,#u488-4
{
	font-family: berkshire-swash-n4, cursive;
}

#u825-4
{
	font-family: alex-brush-n4, cursive;
}

#u831-4,#u836-4,#u846-4,#u855-4,#u864-4
{
	font-family: allura-n4, cursive;
}

#u789-2,#u789-3,#u789-5,#u789-6,#u789-8,#u789-9,#u789-12,#u789-13,#u789-15,#u789-16,#u789-18,#u789-19,#u789-21,#u789-22,#u789-24,#u789-25,#u789-27,#u789-28,#u789-30,#u789-31,#u789-33,#u830-2,#u830-4,#u830-6,#u830-8,#u830-10,#u835-2,#u835-4,#u835-6,#u845-2,#u845-4,#u845-6,#u727-2,#u727-4,#u734-2,#u734-4,#u734-6,#u734-8,#u734-9,#u734-11,#u734-13,#u734-15
{
	font-family: playfair-display-n4, serif;
}

