#u314
{
	background-color: #9E005D;
	position: relative;
}

#u314:hover
{
	background-color: #999999;
}

#u314:active
{
	background-color: #6B6B6B;
}

#u323
{
	background-color: #9E005D;
	position: relative;
}

#u314.MuseMenuActive,#u323:hover
{
	background-color: #999999;
}

#u323:active
{
	background-color: #6B6B6B;
}

#u329
{
	background-color: #9E005D;
	position: relative;
}

#u323.MuseMenuActive,#u329:hover
{
	background-color: #999999;
}

#u329:active
{
	background-color: #6B6B6B;
}

#menuu134,#u313,#u320,#u328,#u335
{
	position: relative;
}

#u338
{
	background-color: #9E005D;
	position: relative;
}

#u329.MuseMenuActive,#u338:hover
{
	background-color: #999999;
}

#u338:active
{
	background-color: #6B6B6B;
}

#u338.MuseMenuActive
{
	background-color: #999999;
}

#u316-4,#u326-4,#u332-4,#u340-4
{
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u110
{
	border-color: #000000;
	position: relative;
	background: #FFFFFF url("../images/screenshot_2016-08-22-08-56-45-u110-fr.png") no-repeat left top;
	background-color: rgba(255, 255, 255, 0.6);
	background-size: contain !important;
}

#u114
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

