.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -38px;
	margin-bottom: -34px;
}

#pu827
{
	width: 0.01px;
	left: -176px;
	position: relative;
}

#u827
{
	z-index: 29;
	width: 1009px;
	background: #9E005D url("../images/u827-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(52%, #FFFFFF),to(#9E005D));
	background: -webkit-linear-gradient(left,#FFFFFF 52%,#9E005D );
	background: -moz-linear-gradient(left,#FFFFFF 52%,#9E005D );
	background: -ms-linear-gradient(left,#FFFFFF 52%,#9E005D );
	background: -o-linear-gradient(left,#FFFFFF 52%,#9E005D );
	background: linear-gradient(to right,#FFFFFF 52%,#9E005D );
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u825-4
{
	z-index: 68;
	width: 799px;
	min-height: 139px;
	font-size: 160px;
	line-height: 192px;
	font-family: alex-brush, cursive;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 4px;
}

#u796
{
	z-index: 30;
	width: 342px;
	border-color: #000000;
	background-color: #9E005D;
	padding-bottom: 959px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 997px;
}

#u104
{
	z-index: 31;
	width: 203px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 73px;
}

#u789-36
{
	z-index: 32;
	width: 325px;
	min-height: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 1001px;
}

#u789-2
{
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
	font-style: italic;
}

#u789-3
{
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u789-16,#u789-22
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u789-4,#u789-10,#u789-17,#u789-23,#u789-29
{
	text-decoration: underline;
}

#u789-5,#u789-6,#u789-9,#u789-12,#u789-13,#u789-18,#u789-19,#u789-24,#u789-25,#u789-28,#u789-30,#u789-31
{
	font-size: 21px;
	text-align: center;
	line-height: 25px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u789-8,#u789-15,#u789-21,#u789-27,#u789-33
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: #FFFFFF;
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u789-34
{
	font-size: 36px;
	text-align: left;
	line-height: 43px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u828
{
	z-index: 72;
	width: 957px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	left: 25px;
}

#u829
{
	z-index: 73;
	width: 321px;
	height: 270px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 9px;
	background: transparent url("../images/img5-u829-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu831-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 347px;
}

#u831-4
{
	z-index: 87;
	width: 233px;
	min-height: 41px;
	font-size: 48px;
	line-height: 58px;
	font-family: allura, cursive;
	font-weight: 400;
	position: relative;
}

#u830-13
{
	z-index: 74;
	width: 437px;
	min-height: 192px;
	margin-left: 84px;
	margin-top: 2px;
	position: relative;
}

#u833
{
	z-index: 91;
	width: 959px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 576px;
	left: 23px;
}

#u834
{
	z-index: 92;
	width: 332px;
	height: 256px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
	background: transparent url("../images/img9-u834-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu836-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 351px;
}

#u836-4
{
	z-index: 102;
	width: 233px;
	min-height: 41px;
	font-size: 48px;
	line-height: 58px;
	font-family: allura, cursive;
	font-weight: 400;
	margin-left: 2px;
	position: relative;
}

#u835-9
{
	z-index: 93;
	width: 604px;
	min-height: 123px;
	margin-top: 9px;
	position: relative;
}

#u837
{
	z-index: 106;
	width: 959px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 11px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 869px;
	left: 23px;
}

#u838
{
	z-index: 107;
	width: 332px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 2px;
	background: transparent url("../images/img7-u838-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu846-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 348px;
}

#u846-4
{
	z-index: 117;
	width: 233px;
	min-height: 41px;
	font-size: 48px;
	line-height: 58px;
	font-family: allura, cursive;
	font-weight: 400;
	position: relative;
}

#u845-9
{
	z-index: 108;
	width: 453px;
	min-height: 150px;
	margin-left: 96px;
	margin-top: 24px;
	position: relative;
}

#u830-2,#u830-4,#u830-6,#u830-8,#u830-10,#u835-2,#u835-4,#u835-6,#u845-2,#u845-4,#u845-6
{
	font-size: 26px;
	text-align: center;
	line-height: 36px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u830-11,#u835-7,#u845-7
{
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u847
{
	z-index: 121;
	width: 959px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	left: -152px;
	margin-top: 12px;
	position: relative;
}

#u848
{
	z-index: 122;
	width: 324px;
	height: 257px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
	background: transparent url("../images/img11-u848-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu855-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 343px;
}

#u855-4
{
	z-index: 130;
	width: 233px;
	min-height: 41px;
	font-size: 48px;
	line-height: 58px;
	font-family: allura, cursive;
	font-weight: 400;
	position: relative;
}

#u727-7
{
	z-index: 123;
	width: 479px;
	min-height: 127px;
	margin-left: 80px;
	margin-top: 29px;
	position: relative;
}

#u856
{
	z-index: 134;
	width: 958px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	left: -151px;
	margin-top: 7px;
	position: relative;
}

#u857
{
	z-index: 135;
	width: 324px;
	height: 314px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 4px;
	background: transparent url("../images/img6-u857-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu864-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 334px;
}

#u864-4
{
	z-index: 154;
	width: 233px;
	min-height: 41px;
	font-size: 48px;
	line-height: 58px;
	font-family: allura, cursive;
	font-weight: 400;
	margin-left: 6px;
	position: relative;
}

#u734-18
{
	z-index: 136;
	width: 620px;
	min-height: 285px;
	margin-top: 11px;
	position: relative;
}

#u727-2,#u727-4,#u734-2,#u734-4,#u734-6,#u734-8,#u734-9,#u734-11,#u734-13,#u734-15
{
	font-size: 26px;
	text-align: center;
	line-height: 31px;
	color: #000000;
	font-family: playfair-display, serif;
	font-weight: 400;
}

#u346
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 2px;
	left: -100px;
	top: -2px;
}

#u346_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#u347
{
	z-index: 3;
	width: 136px;
	height: 94px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 120px;
}

#menuu352
{
	z-index: 4;
	width: 661px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 499px;
}

#u428
{
	width: 163px;
	min-height: 62px;
	margin-right: -10000px;
}

#u429
{
	width: 163px;
	padding-bottom: 45px;
}

#u429:hover
{
	margin: 0px;
}

#u429:active
{
	margin: 0px;
}

#u431-4
{
	width: 163px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
}

#u435
{
	width: 164px;
	min-height: 62px;
	margin-right: -10000px;
	left: 165px;
}

#u436
{
	width: 164px;
	padding-bottom: 45px;
}

#u429.MuseMenuActive,#u436:hover
{
	margin: 0px;
}

#u436:active
{
	margin: 0px;
}

#u477
{
	width: 164px;
	min-height: 62px;
	margin-right: -10000px;
	left: 331px;
}

#u480
{
	width: 164px;
	padding-bottom: 45px;
}

#u436.MuseMenuActive,#u480:hover
{
	margin: 0px;
}

#u480:active
{
	margin: 0px;
}

#u484
{
	width: 164px;
	min-height: 62px;
	margin-right: -10000px;
	left: 497px;
}

#u485
{
	width: 164px;
	padding-bottom: 45px;
}

#u480.MuseMenuActive,#u485:hover
{
	margin: 0px;
}

#u485:active
{
	margin: 0px;
}

#u485.MuseMenuActive
{
	margin: 0px;
}

#u437-4,#u483-4,#u488-4
{
	width: 164px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
}

body
{
	padding-top: 36px;
	padding-bottom: 31px;
}

#page .verticalspacer
{
	clear: both;
}

