#u1926-4
{
	font-family: alex-brush-n4, cursive;
}

#u1980-4
{
	font-family: antic-didone-n4, sans-serif;
}

#u1989-4
{
	font-family: antic-didone-n4, sans-serif;
}

#u2006-4
{
	font-family: antic-didone-n4, sans-serif;
}

#u2014-4
{
	font-family: antic-didone-n4, sans-serif;
}

#u2022-4
{
	font-family: antic-didone-n4, sans-serif;
}

#u2026-4
{
	font-family: antic-didone-n4, sans-serif;
}

#u2654-2,#u2654-3,#u2654-6,#u2654-7,#u2654-10,#u2654-11,#u2654-14,#u2654-16,#u2654-17,#u2654-19,#u2654-20,#u2654-22,#u2654-23,#u2654-25
{
	font-family: playfair-display-n4, serif;
}

#u2658-4
{
	font-family: berkshire-swash-n4, cursive;
}

